@import '~prismjs/themes/prism.css';
@import '~prismjs/themes/prism.css';

.disabled-css {
  background-color: grey;
}
.disabled-css:hover {
  background-color: grey !important;
}

.margin-top-xs {
  margin-top: 5px;
}

.clickable {
  cursor: pointer;
}
